
<div class = 'header'>
	<div class = 'links'>
		 <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> 
		 <%= link_to "Edit Login", edit_user_registration_path %> 
		 <%= link_to "Edit Specs", user_path %> 
		<div class = 'create_group'> <%= link_to "Create a Book Club", books_path %> </div> 
		 
	</div>
</div>
<div class='profile_title'>
	<h1><%= @screen_name %></h1>
	<div class= 'display_specs'>
		<p> <%= @user.first_name %> <%= @user.last_name %> </p>
		<p> <%= @user.city %> <%= @user.state %> </p>
	</div>
</div>

<feildset class = 'display_friend_search'>
	<h3>Search For Friends</h3>
	<%= text_field_tag 'search_input' %>
		<ul id='friend-search-table'></ul>
</feildset>

	<feildset class = 'display_friends'>
		<h3><strong> Display Friends </strong></h3>
		<table>
			<tbody id='friend-table'>
				 <% for friend in @user.friends %>
				   <tr>
				    <td>
				      <%= link_to "remove", "/friendships/delete/#{friend.id}", id: 'remove' %>
				      <%= friend.first_name %>
				     </td>
				   </tr>
				  <% end %>

		    </tbody>
			
		</table>
	</feildset>



	<feildset class = 'display_books'>
		<h3><strong> Display Books<strong> </h3>
		<table>
			<tbody id='friend-table'>
				 <% for book in @user.books %>
				   <tr>
				    <td>
				    <%= link_to "#{book.title}", forum_path(book.title) %> 
				      <!-- <a href ="/forum/#{book.title}"><%= book.title %><a> -->
				     </td>
				   </tr>
				  <% end %>

		    </tbody>
			
		</table>
	</fieldset>





